/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
    height:30px; /*41*/
    /*background:url(-menu-imagens/main-bg.png) repeat-x;*/
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 30px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 30px; /*41*/
    display: block;
    float: left;
    line-height: 30px; /*41*/
    text-decoration: none;
    font: normal 12px Trebuchet MS;
/*    border: 1px dotted orange;*/
}
div#menu a:hover, div#menu a:hover span { color: #fff; }
div#menu li.current a {}

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(-menu-imagens/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(-menu-imagens/item-pointer-mover.gif);
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #e5e5e5;
}
div#menu span {
    margin-top: 0px;
}/**@replace#1*/
/*div#menu li { background: url(-menu-imagens/main-delimiter.png) 98% 4px no-repeat; }*/
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li { background: none; }
div#menu ul ul {
    position: absolute;
    top: 28px; /*38*/
    left: -999em;
    width: 200px; /*163px*/
    padding: 5px 0 0 0;
    background: #9E3434;
    margin-top:1px;
}
div#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: red;
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: red;
}
div#menu ul ul a:hover span {
    color: #fff;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -32px 0 0 200px !important; /*margin: -38px 0 0 163px !important;*/
    margin-left:209px;
}

/* colors */
div#menu ul ul ul { background: #933131; }
div#menu ul ul ul ul { background: #8C2F2F; }
div#menu ul ul ul ul { background: #892E2E; }

/* lava lamp */
div#menu li.back {
    background: url(-menu-imagens/lava.png) no-repeat right -44px !important;
    background-image: url(-menu-imagens/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(-menu-imagens/lava.png) no-repeat top left !important;
    background-image: url(-menu-imagens/lava.gif);
    height: 44px;
    margin-right: 8px;
}

 