/* Linha com 1 colunas*/
.c01_tipo_a_01  { width: 98%;  }

/* Linha com 2 colunas sem botões de ação*/
.c02_tipo_a_01  { width: 90%;  }
.c02_tipo_a_02  { width: 6%;   }

.c02_tipo_b_01  { width: 78%;  }   
.c02_tipo_b_02  { width: 18%;  }

.c02_tipo_c_01  { width: 48%;  }   
.c02_tipo_c_02  { width: 48%;  }

.c02_tipo_d_01  { width: 18%;  }   
.c02_tipo_d_02  { width: 78%;  }

.c02_tipo_e_01  { width: 28%;  }   
.c02_tipo_e_02  { width: 68%;  }

/* Linha com 3 colunas */

/*

Coluna Tipo A

|--------------------------------------|--------------------------------------|------------------|
|--------------------------------------|--------------------------------------|------------------|
|--------------------------------------|--------------------------------------|------------------|
|--------------------------------------|--------------------------------------|------------------|


*/

.c03_tipo_a_01  { width: 38%; }
.c03_tipo_a_02  { width: 38%; }
.c03_tipo_a_03  { width: 18%; } /* Aloca até 6 icones de ação */

/*

Coluna Tipo B

|-------------------------------|-------------------------------|--------------------------------|
|-------------------------------|-------------------------------|--------------------------------|
|-------------------------------|-------------------------------|--------------------------------|
|-------------------------------|-------------------------------|--------------------------------|


*/

.c03_tipo_b_01  { width: 31%; }
.c03_tipo_b_02  { width: 31%; }
.c03_tipo_b_03  { width: 32%; } 

.c03_tipo_c_01  { width:    8%; }
.c03_tipo_c_02  { width:   85%; }
.c03_tipo_c_03  { width:  2.7%; } 

.c03_tipo_d_01  { width:   44.1%; }
.c03_tipo_d_02  { width:   44.1%; }
.c03_tipo_d_03  { width:    3.5%; } 

.c03_tipo_e_01  { width:   60%; }
.c03_tipo_e_02  { width:   8.5%;  }
.c03_tipo_e_03  { width:   14.5%; } 


/* Linha com 4 colunas */
.c04_tipo_a_01  { width: 39%; }
.c04_tipo_a_02  { width: 20%; }
.c04_tipo_a_03  { width: 18%; } 
.c04_tipo_a_04  { width: 18%; } /* Aloca até 6 icones de ação */

/*

Coluna Tipo B

*/

.c04_tipo_b_01  { width: 18%; }
.c04_tipo_b_02  { width: 39%; }
.c04_tipo_b_03  { width: 19%; } 
.c04_tipo_b_04  { width: 18%; }

/*

Coluna Tipo C

*/

.c04_tipo_c_01  { width:  6%; }
.c04_tipo_c_02  { width: 77%; }
.c04_tipo_c_03  { width:  9%; } 
.c04_tipo_c_04  { width:  3%; }

/*  Tipo D

|------------------|------------------|------------------|------------------|
|------------------|------------------|------------------|------------------|
|------------------|------------------|------------------|------------------|
|------------------|------------------|------------------|------------------|
|------------------|------------------|------------------|------------------|

*/

.c04_tipo_d_01  { width: 24%; }
.c04_tipo_d_02  { width: 24%; }
.c04_tipo_d_03  { width: 24%; } 
.c04_tipo_d_04  { width: 24%; } /* Aloca até 6 icones de ação */

/* Linha com 5 colunas */

/*

Coluna Tipo A

|--|----------------------------|----------------------------|--------------|------------------|
|--|----------------------------|----------------------------|--------------|------------------|
|--|----------------------------|----------------------------|--------------|------------------|
|--|----------------------------|----------------------------|--------------|------------------|


*/

.c05_tipo_a_01  { width: 2%;  }
.c05_tipo_a_02  { width: 28%; }
.c05_tipo_a_03  { width: 28%; }
.c05_tipo_a_04  { width: 14%; }
.c05_tipo_a_05  { width: 18%; }


/*

Coluna Tipo B

|--------------------------|-----------------|-----------------|-----------------|-----------------|
|--------------------------|-----------------|-----------------|-----------------|-----------------|
|--------------------------|-----------------|-----------------|-----------------|-----------------|
|--------------------------|-----------------|-----------------|-----------------|-----------------|

*/

.c05_tipo_b_01  { width: 8%;  }
.c05_tipo_b_02  { width: 57%;  }
.c05_tipo_b_03  { width: 17%;  }
.c05_tipo_b_04  { width: 9%;  }
.c05_tipo_b_05  { width: 2.7%;  }

/*

Coluna Tipo C

|----------|----------------------|----------------------|------------------|------------------|
|----------|----------------------|----------------------|------------------|------------------|
|----------|----------------------|----------------------|------------------|------------------|
|----------|----------------------|----------------------|------------------|------------------|


*/

.c05_tipo_c_01  { width: 10%;  }
.c05_tipo_c_02  { width: 22%;  }
.c05_tipo_c_03  { width: 22%;  }
.c05_tipo_c_04  { width: 18%;  }
.c05_tipo_c_05  { width: 18%;  }

/*

Coluna Tipo D

|----------|----------------------|----------------------|------------------|------------------|
|----------|----------------------|----------------------|------------------|------------------|
|----------|----------------------|----------------------|------------------|------------------|
|----------|----------------------|----------------------|------------------|------------------|


*/

.c05_tipo_d_01  { width: 36.8%;  }
.c05_tipo_d_02  { width:  6%;  }
.c05_tipo_d_03  { width: 36.8%;  }
.c05_tipo_d_04  { width:  6%;  }
.c05_tipo_d_05  { width:  3.5%;  }
/*

Coluna Tipo E



*/

.c05_tipo_e_01  { width: 24%;  }
.c05_tipo_e_02  { width: 28%;  }
.c05_tipo_e_03  { width: 15%;  }
.c05_tipo_e_04  { width: 15%;  }
.c05_tipo_e_05  { width: 12%;  }



.c05_tipo_f_01  { width: 24%;  }
.c05_tipo_f_02  { width: 15%;  }
.c05_tipo_f_03  { width: 10%;  }
.c05_tipo_f_04  { width: 16%;  }
.c05_tipo_f_05  { width: 15%;  }


.c05_tipo_g_01  { width: 24%;  }
.c05_tipo_g_02  { width: 12%;  }
.c05_tipo_g_03  { width: 16%;  }
.c05_tipo_g_04  { width: 16%;  }
.c05_tipo_g_05  { width: 16%;  }

.c05_tipo_h_01  { width: 20%;  }
.c05_tipo_h_02  { width: 24%;  }
.c05_tipo_h_03  { width: 16%;  }
.c05_tipo_h_04  { width: 16%;  }
.c05_tipo_h_05  { width: 16%;  }



/* Linha com 6 colunas */

/*      Tipo A

|----|------|-----------------|-------------------|----------------|
|----|------|-----------------|-------------------|----------------|
|----|------|-----------------|-------------------|----------------|
|----|------|-----------------|-------------------|----------------|
|----|------|-----------------|-------------------|----------------|

*/

.c06_tipo_a_01  { width:  8%; }
.c06_tipo_a_02  { width: 11%; }
.c06_tipo_a_03  { width: 19%; }
.c06_tipo_a_04  { width: 19%; }
.c06_tipo_a_05  { width: 19%; }
.c06_tipo_a_06  { width: 15%; }

/*      Tipo B

|------------------------|----------|-----------------|-----------------|-----------------|----------|
|------------------------|----------|-----------------|-----------------|-----------------|----------|
|------------------------|----------|-----------------|-----------------|-----------------|----------|
|------------------------|----------|-----------------|-----------------|-----------------|----------|
|------------------------|----------|-----------------|-----------------|-----------------|----------|

*/

.c06_tipo_b_01  { width: 25%; }
.c06_tipo_b_02  { width: 10%; }
.c06_tipo_b_03  { width: 15%; }
.c06_tipo_b_04  { width: 15%; }
.c06_tipo_b_05  { width: 15%; }
.c06_tipo_b_06  { width: 10%;  }

/*      Tipo C

|-----|---------------------------|-------------|-----|-------------|-----|
|-----|---------------------------|-------------|-----|-------------|-----|
|-----|---------------------------|-------------|-----|-------------|-----|
|-----|---------------------------|-------------|-----|-------------|-----|

*/

.c06_tipo_c_01  { width: 7%;   }
.c06_tipo_c_02  { width: 42%;  }
.c06_tipo_c_03  { width: 17%;  }
.c06_tipo_c_04  { width: 7%;   }
.c06_tipo_c_05  { width: 17%;  }
.c06_tipo_c_06  { width: 8%;   }

/*      Tipo D

|-----|---------------------------|-------------|-----|-------------|-----|
|-----|---------------------------|-------------|-----|-------------|-----|
|-----|---------------------------|-------------|-----|-------------|-----|
|-----|---------------------------|-------------|-----|-------------|-----|

*/

.c06_tipo_d_01  { width: 2%;   }
.c06_tipo_d_02  { width: 5%;   }
.c06_tipo_d_03  { width: 30%;  }
.c06_tipo_d_04  { width: 30%;  }
.c06_tipo_d_05  { width: 10%;  }
.c06_tipo_d_06  { width: 15%;  }


.c06_tipo_e_01  { width: 8%;    }
.c06_tipo_e_02  { width: 46%;   }
.c06_tipo_e_03  { width: 16%;   }
.c06_tipo_e_04  { width: 16%;   }
.c06_tipo_e_05  { width: 3%;    }
.c06_tipo_e_06  { width: 3%;    }

.c06_tipo_f_01  { width: 36.8%; }
.c06_tipo_f_02  { width:    6%; }
.c06_tipo_f_03  { width: 36.8%; }
.c06_tipo_f_04  { width:    6%; }
.c06_tipo_f_05  { width:  3.5%; }
.c06_tipo_f_06  { width:  2.7%; }

.c06_tipo_g_01  { width: 9%;    }
.c06_tipo_g_02  { width: 35%;   }
.c06_tipo_g_03  { width: 10%;   }
.c06_tipo_g_04  { width: 10%;   }
.c06_tipo_g_05  { width: 15%;   }
.c06_tipo_g_06  { width: 8%;    }


.c06_tipo_h_01  { width: 24%;  }
.c06_tipo_h_02  { width: 18%;  }
.c06_tipo_h_03  { width: 23.5%;}
.c06_tipo_h_04  { width: 30%;  }
.c06_tipo_h_05  { width: 16%;  }
.c06_tipo_h_06  { width: 16%;  }

.c06_tipo_i_01  { width: 24%;  }
.c06_tipo_i_02  { width: 12%;  }
.c06_tipo_i_03  { width: 15%;  }
.c06_tipo_i_04  { width: 15%;  }
.c06_tipo_i_05  { width: 16%;  }
.c06_tipo_i_06  { width: 16%;  }


/* Linha com 7 colunas */

.c07_tipo_a_01  { width: 8%;    }
.c07_tipo_a_02  { width: 46%;   }
.c07_tipo_a_03  { width: 8.8%;  }
.c07_tipo_a_04  { width: 6%;    }
.c07_tipo_a_05  { width: 8.8%;  }
.c07_tipo_a_06  { width: 6%;    }
.c07_tipo_a_07  { width: 3%;    }
.c07_tipo_a_08  { width: 3%;    }

/* Linha com 7 colunas */

.c07_tipo_b_01  { width: 8%;  }
.c07_tipo_b_02  { width: 11%; }
.c07_tipo_b_03  { width: 14%; }
.c07_tipo_b_04  { width: 14%;  }
.c07_tipo_b_05  { width: 14%; }
.c07_tipo_b_06  { width: 14%;  }
.c07_tipo_b_07  { width: 14%;  }

.c07_tipo_c_01  { width: 5%;  }
.c07_tipo_c_02  { width: 8%; }
.c07_tipo_c_03  { width: 8%; }
.c07_tipo_c_04  { width: 30%;  }
.c07_tipo_c_05  { width: 14%; }
.c07_tipo_c_06  { width: 8%;  }
.c07_tipo_c_07  { width: 14%;  }

.c07_tipo_d_01  { width:  3%; }
.c07_tipo_d_02  { width:  7%; }
.c07_tipo_d_03  { width:  9%; }
.c07_tipo_d_04  { width: 15%; }
.c07_tipo_d_05  { width: 12%; }
.c07_tipo_d_06  { width: 25%; }
.c07_tipo_d_07  { width: 12.5%; }

.c07_tipo_e_01  { width:  10%; }
.c07_tipo_e_02  { width:  30%; }
.c07_tipo_e_03  { width:  10%; }
.c07_tipo_e_04  { width:  10%; }
.c07_tipo_e_05  { width:  10%; }
.c07_tipo_e_06  { width:  10%; }
.c07_tipo_e_07  { width:  10%; }

/* Linha com 8 colunas */

/*      Tipo A

|--|-----|--------|-------------|-------------|-------------|-------------|-------------|
|--|-----|--------|-------------|-------------|-------------|-------------|-------------|
|--|-----|--------|-------------|-------------|-------------|-------------|-------------|
|--|-----|--------|-------------|-------------|-------------|-------------|-------------|

*/

.c08_tipo_a_01  {   width: 2%;  }
.c08_tipo_a_02  {   width: 6%;  }
.c08_tipo_a_03  {   width: 9%;  }
.c08_tipo_a_04  {   width: 14%; }
.c08_tipo_a_05  {   width: 14%; }
.c08_tipo_a_06  {   width: 14%; }
.c08_tipo_a_07  {   width: 14%; }
.c08_tipo_a_08  {   width: 13%; }

.c08_tipo_b_01  {   width: 20%;}
.c08_tipo_b_02  {   width: 10%;}
.c08_tipo_b_03  {   width: 10%;}
.c08_tipo_b_04  {   width: 10%;}
.c08_tipo_b_05  {   width: 10%;}
.c08_tipo_b_06  {   width: 10%;}
.c08_tipo_b_07  {   width: 10%;}
.c08_tipo_b_08  {   width: 10%;}

.c08_tipo_c_01  {   width: 6%;}
.c08_tipo_c_02  {   width: 7%;}
.c08_tipo_c_03  {   width: 7%;}
.c08_tipo_c_04  {   width: 15%;}
.c08_tipo_c_05  {   width: 10%;}
.c08_tipo_c_06  {   width: 25%;}
.c08_tipo_c_07  {   width: 7%;}
.c08_tipo_c_08  {   width: 6%;}
.c08_tipo_c_08  {   width: 10%;}

/*      Tipo A

|--|-----|--------|-------------|-------------|-------------|-------------|-------------|
|--|-----|--------|-------------|-------------|-------------|-------------|-------------|
|--|-----|--------|-------------|-------------|-------------|-------------|-------------|
|--|-----|--------|-------------|-------------|-------------|-------------|-------------|

*/

.c09_tipo_a_01  {   width: 5%;  }
.c09_tipo_a_02  {   width: 10%;  }
.c09_tipo_a_03  {   width: 15%;  }
.c09_tipo_a_04  {   width: 15%; }
.c09_tipo_a_05  {   width: 15%; }
.c09_tipo_a_06  {   width: 15%; }
.c09_tipo_a_07  {   width: 5%; }
.c09_tipo_a_08  {   width: 5%; }
.c09_tipo_a_09  {   width: 3%; }

.c09_tipo_b_01  {   width: 20%;  }
.c09_tipo_b_02  {   width: 9.5%;  }
.c09_tipo_b_03  {   width: 9.5%;  }
.c09_tipo_b_04  {   width: 9.5%; }
.c09_tipo_b_05  {   width: 9.5%; }
.c09_tipo_b_06  {   width: 9.5%; }
.c09_tipo_b_07  {   width: 9.5%; }
.c09_tipo_b_08  {   width: 9%; }
.c09_tipo_b_09  {   width: 3%; }

.c09_tipo_c_01  {   width: 6%;}
.c09_tipo_c_02  {   width: 7%;}
.c09_tipo_c_03  {   width: 7%;}
.c09_tipo_c_04  {   width: 15%;}
.c09_tipo_c_05  {   width: 10%;}
.c09_tipo_c_06  {   width: 25%;}
.c09_tipo_c_07  {   width: 7%;}
.c09_tipo_c_08  {   width: 6%;}
.c09_tipo_c_09  {   width: 5%;}


